<div class="container">
 <div class="row justify-content-center">

   <div class="col-md-6 p-5">
    <%= image_tag @post.get_image(500,500) %>
   </div>

   <div class="col-md-6 p-5">
    <h5 class="row justify-content-center">
     <table class="table table-borderless">
      <tr>
       <th>title:</th>
       <td><%= @post.title %></td>
      </tr>

      <tr>
        <th>content:</th>
        <td><%= @post.content %></td>
      </tr>

      <tr>
       <th>genre:</th>
       <td><%= @post.genre.name %></td>
      </tr>
      <tr>
       <th>tag: </th>
       <td>
       <% @post_tags.each do |tag| %>
       <%= link_to tag.name, search_tag_path(tag_id: tag.id) %><%="(#{tag.posts.count})" %>
       <% end %>
       </td>
      </tr>
      </table>
     </h5>

     <%= link_to mypage_path(@post.user.id) do %>
     <%= image_tag @post.user.get_profile_image(100,100), class: "img-fluid mt-3 rounded-circle" %>
      name: <%= @post.user.name %>
     <% end %>


     <% if @post.user.owns?(current_user) %>

     <%= link_to "Edit", edit_post_path, class: "btn btn-success" %>

     <%= link_to "delete", post_path(@post.id),class: "btn btn-danger", method: :delete, "data-confirm" => "本当に投稿を削除しますか？" %>

     <% end %>

    </div>
   </div>
 </div>
