<div class="container">

  <%= render 'layouts/error_messages', model: @review %>
  <%= render 'layouts/error_messages', model: @comment %>

    <div class="row justify-content-center">

    <div class="col-mb-6 p-3">

    <div class="content">
     <%= image_tag @post.get_image(500,500), class: "img-fluid" %>
    </div>

     <%= link_to mypage_path(@post.user.id) do %>
      <%= image_tag @post.user.get_profile_image(150,150), class: "img-fluid mt-3 rounded-circle" %>
     <% end %>
       name: <%= @post.user.name %>

     <% if @post.user.owns?(current_user) %>

      <div class="btn group">
       <%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success" %>
       <%= link_to "delete", post_path(@post.id),class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に投稿を削除しますか？" %>
      </div>

     <% end %>
    </div>


   <div class="col-md-6 p-3">
    <h5 class="justify-content-center">

    <div class="col">
       <h4><% if @post.favorited_by?(current_user) %>
         <%= link_to post_favorite_path(@post), method: :delete do %>
         <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;">
         <i class="fa-solid fa-heart fa-beat"></i> <%= @post.favorites.count %></span>
         <% end %>
       <% else %>
         <%= link_to post_favorite_path(@post), method: :post do %>
         <i class="fa-regular fa-heart"></i> <%= @post.favorites.count %></span>
         <% end %>
       <% end %>

      </h4>
     </div>
     <table class="table table-borderless">
      <tr>
       <th>date:</th>
       <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
       <th>title:</th>
       <td><%= @post.title %></td>
      </tr>
      <tr>
       <th>score: </th>
       <td>
       <% if @post.rating.present? %>
         <%= render 'rating_star', post: @post %>
       <% end %>
       </td>
      </tr>

      <tr>
        <th>content:</th>
        <td><%= h(@post.content).gsub(/\n|\r|\r\n/, "<br>").html_safe %>
      </tr>

      <tr>
       <th>genre:</th>
       <td><%= @post.genre.name %></td>
      </tr>
      <tr>
       <th>tag: </th>
       <td>
       <% if @post_tags.present? %>
       <% @post_tags.published_posts_tags.each do |tag| %>
       <button type="button" class="btn btn-sm btn-primary m-1">
       <%= link_to tag.name, search_tag_path(tag_id: tag.id), class:"text-light" %>
       <%="(#{tag.posts.where(status: 'published').count})" %>
       <% end %>
       <% end %>
        </button>
       </td>
      </tr>
      </table>
     </h5>

     <div class="row p-3">
      <div class="col">
       <h3 class="title">Write to Review</h3>
        <%= render partial: 'public/reviews/form', review: @review, post: @post %>
       </div>
       </div>
      </div>
      </div>


       <div class="row justify-content-center">
       <div class="col">

      <% if @reviews.present? %>
        <div class="card mb-6">
          <header class="card-header">
            <h6 class="card-header-title">
             Reviews:
             <%= link_to post_reviews_path(@post) do %>
               （<%= @post.reviews.count %> ）
             <% end %>
            </h6>
          </header>
          <div class="card-body">
            <%= render 'public/reviews/star', post: @post %>
          </div>

          <%= render 'public/reviews/table', reviews: @reviews %>
        </div>

        <%= paginate @reviews %>

      <% else %>
         <h5>Reviews:</h5>
         <p>投稿されているレビューはありません</p>
      <% end %>

      <%= render 'public/comments/index',  post: @post, comment: @comment %>
     </div>
    </div>
    </div>

