<div class="container">
  <div class="row">
    <div class="col-md-2">
     <%= render 'genres', genres: @genres %>
     <%= render 'public/posts/tag_list', tag_list: @tag_list %>
    </div>

    <div class="col-md-10 p-3">
     <div class="row justify-content-center">

      <% if @genre.present? %>
        <h1 class="main-title mb-2"><%= @genre.name %> Sweets (<%= @posts.total_count %>)</h1>
      <% end %>

      </div>

      <% if @posts.present? %>

        <%= render 'public/posts/index', posts: @posts %>


      <% else %>

        <% @comment = 'No postings' %>
        <%= render 'layouts/space' %>

      <% end %>

      <div class="pagination justify-content-center">
       <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
   </div>
  </div>
</div>