<section class="section mt-6">
  <div class="container">
     <div class="row justify-content-center">
      <h1 class="main-title md-2">Reviews</h1>
    </div>

     <div class="row justify-content-center">
      <div class="col-md-8 mb-2">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
             <%= @post.title %>
            </p>
          </header>
          <div class="card-content">
            <%= link_to post_path(@post.id) do %>
            <%= image_tag @post.get_image(500, 500), class:"card-img-top";%>
            <% end %>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                   <div class="star-rating-front" style="width: <%= @post.review_score_percentage %>%">
                    <%= render_stars(@post.avg_score) %>
                   <div class="star-rating-back">
                    <%= render_stars(5 - @post.avg_score) %></div>
                    <%= render_stars(@post.rating) %>
                 </div>
                </div>
              </div>
             </div>
            </div>







          <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>Name</th><th>Score</th><th>Content</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews_high_rating.each do |review| %>
              <tr>
                <td><%= review.user.name %></td>
                <td><%= review.rating %></td>
                <td><%= review.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>