<div class="container">
  <div class="row">
    <div class="col-md-2">

     <%= render 'public/genres/genres', genres: @genres %>
     <%= render 'public/posts/tag_list', tag_list: @tag_list %>

    </div>

     <div class="col-md-10 p-2">
      <div class="row justify-content-center">

       <% if @posts.present? %>
         <h1 class="main-title mb-2">Sweets (<%= @posts.total_count %>)</h1>
       <% end %>
      </div>
      <p>Sort:
        <%= link_to 'New', posts_path(sort: 'latest'),class: 'btn btn-sm btn-outline-primary mr-2' %>
        <%= link_to 'Old', posts_path(sort: 'oldest'),class: 'btn btn-sm btn-outline-primary mr-2'  %>
        <%= link_to 'Score', posts_path(sort: 'highest_rated'),class: 'btn btn-sm btn-outline-primary mr-2'  %>
        <%= link_to 'Nice', posts_path(sort: 'most_favorites') ,class: 'btn btn-sm btn-outline-primary mr-2' %>
      </p>

        <div class="form-group">
          <form class="d-flex">
            <%= form_with(url: posts_path, method: "get") do %>
             <%= text_field_tag :query, params[:query], placeholder: "Search..."  %>
             <%= submit_tag "Search", class: "btn btn-info p-1" %>
            <% end %>
          </form>
        </div>


     <%= render 'admin/posts/index', posts: @posts %>

     <%= paginate @posts %>

    </div>
  </div>
</div>