<div class="container">

 <%= render 'layouts/error_messages', model: @user %>

 <div class="row justify-content-center">
  <div class="col-md-5 col-sm-10 m-3">
   <h4 class="text-dark p-4 mb-0">User Edit</h4>

   <%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>

   <%= render partial: 'form',  locals: {f:f } %>


  <div class="actions">
   <%= f.submit "Up date", class: 'btn btn-success' %>
  </div>

  <br>

<% end %>

<h4>Cancel my account</h4>

<div>Unhappy? <%= link_to "Cancel my account", confirm_unsubscribe_path, class: "btn btn-danger" %>
</div>
<p><%= link_to "Back", :back %></p>

