<div class="container">

 <%= render 'layouts/error_messages', model: @user %>

 <div class="row justify-content-center">
  <div class="col-md-5 col-sm-10 m-3">
   <h4 class="text-dark p-4 mb-0">プロフィール編集</h4>

   <%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>

   <%= render partial: 'form',  locals: {f:f } %>


  <div class="actions">
   <%= f.submit "Up date", class: 'btn btn-success' %>
  </div>

  <br>

<% end %>

<p><%= link_to "退会する", class: "btn btn-danger" %></p>
<p><%= link_to "マイページに戻る", mypage_path, class: "underline" %></p>