<div class="container">
  <div class="row justify-content-center">

   <h1 class="main-title mb-2">My Reviews(<%= @reviews.total_count %>)</h1>
  </div>

  <% if @reviews.present? %>

    <div class="card-group py-5">
     <% @reviews.each do |review| %>
     <div class="col-md-4 mb-2">
      <div class="card h-100 w-100 mx-auto">
        <header class="card-header">
            <p class="card-header-title">
             <h5>Title: <%= review.post.title %></h5>
             <h6>Name: <%= review.post.user.name %></h6>
            </p>
        </header>
        <div class="card-body">
         <div class="content">
            <div class="content average-score">
                  <div class="star-rating mb-2">
                   <div class="star-rating-front" style="width: <%= review.post.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                   score: <%= review.post.avg_score %>
                   <%= link_to post_reviews_path(review.post) do %>
                   （<%= review.post.reviews.count %>）
                   <% end %>
                  </div>
              </div>

             <%= link_to post_path(review.post.id) do %>
              <%= image_tag review.post.get_image(300,300), class:"card-img-top img-fluid" %>
             <% end %>
           </div>
           </div>
          <div class="card-text p-3">
          <table>
            <tr>
              <th>Score: </th>
              <td><%= review.score %></td>
            </tr>
            <tr>
              <th>Content: </th>
              <td><%= review.content %></td>
            </tr>
          </table>
          <%= link_to "Delete", post_review_path(review.post, review),class: 'btn-sm btn-danger', method: :delete, "data-confirm" => "本当にコメントを削除しますか?" %>
         </div>
        </div>
      </div>
      <% end %>
     </div>

      <% else %>

       <% @comment = 'No my reviews' %>
       <%= render 'layouts/space' %>

      <% end %>

       <div class="pagination justify-content-center">
        <%= paginate @reviews, theme: 'bootstrap-5' %>
      </div>
   </div>

