<div class="container">
  <div class="row justify-content-center">
    <h1 class="main-title md-2">My Page</h1>
  </div>
   <div class="row">
     <div class="col-md-4 p-2">
       <%= image_tag @user.get_profile_image(400, 400), class:"card-img-top img-fluid" %>

        <table class="table table-borderless">
          <tr>
            <th>name: </th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><%= h(@user.introduction).gsub(/\n|\r|\r\n/, "<br>").html_safe %></td>
          </tr>
            <% if @user.matches_current_user?(current_user) %>
              <%= link_to 'Edit', edit_user_path(current_user.id), class: 'btn btn-success' %>
            <% end %>

          <tr>
            <th>follows</th>
            <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
          </tr>
          <tr>
            <th>followers</th>
            <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
          </tr>
          <div class="row">
            <% if different_user?(@user) %>
             <td><%= render "public/relationships/btn", user: @user, options: { class: ""} %></td>
            <% end %>
          </div>
        </table>
     </div>

     <div class="col-md-8 p-2">
       <table class="table table-borderless">
         <tr>
           <th><%= link_to "My Sweets", mysweets_path %> (<%= @posts.total_count %>)</th>
         </tr>

            <% @posts.each do |post| %>
             <td>
               <%= link_to post_path(post.id) do %>
                 <%= image_tag post.get_image(200, 200) %>
               <% end %>
              </td>
            <% end %>

         <tr>
              <th><%= link_to "My Reviews", myreviews_path %> (<%= @reviews.total_count %>)</th>
         </tr>

         <% if @user.owns?(current_user) %>
           <tr>
             <% if @reviews.present? %>

              <th><%= link_to "My Favorites", myfavorites_path %> (<%= @favorites.total_count %>)</th>
             <% end %>
            </tr>

            <tr>
               <th><%= link_to "My Drafts", post_confirm_path %> (<%= @post_drafts.total_count %>)</th>
            </tr>
         <% end %>

       </table>
     </div>
   </div>
</div>
